.list {
  color: white;
  width: 60%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
}
.list p {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list h3 {
  margin: 0;
}
.listTodos {
  display: flex;
  justify-content: space-around;
}
.list p span {
  cursor: pointer;
}
.list p input {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18px;
}
.list p input:focus {
  outline: none;
}
.imp_tag {
  margin-right: 20px;
}
.checkbox {
  text-decoration: line-through;
}
