.App {
  width: 100;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: black;
}
.bgImage {
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  opacity: 0.8;
  display: flex;
}
.noteContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todoList {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  position: absolute;
  right: 0;
  bottom: 0;
}
.bgImageEvening {
  background-image: url(https://lh3.googleusercontent.com/proxy/uO-OSyTNCvfuWPT-vhKXHHIPqKD_BhLkpT9MEs6OqVXpl6oVnCtJgvjFvqJ_tcHYQVp5e8ptHXVADGLhYdC_fsTJ2FY_Ck92hL5lAhXj3IXWeSMGnfOcPVdmUAOo7k9K6tPH0Uy5N_o);
}
.bgImageMorning {
  background-image: url(https://image.shutterstock.com/image-photo/empty-wooden-table-autumn-catering-260nw-470540738.jpg);
}
.bgImageAfternoon {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b8731df0-7a59-40a1-b063-eb83a1db366b/d6fmzr-33823420-eca2-4db8-998a-b8f6ff4de4f2.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I4NzMxZGYwLTdhNTktNDBhMS1iMDYzLWViODNhMWRiMzY2YlwvZDZmbXpyLTMzODIzNDIwLWVjYTItNGRiOC05OThhLWI4ZjZmZjRkZTRmMi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Iwj25dRfTwQFUbTz9KARq3Na7FAOGVxe7-c0lZHNHpE);
}
.bgImageNight {
  background-image: url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.mainNote h1 {
  color: white;
  font-size: 40px;
}
.mainNote {
  width: 600px;
}
.mainNote input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 40px;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .App {
    width: 60%;
    display: block;
  }
  .my_todo_list button {
    width: 80px;
    margin-left: 100px;
  }
  .imp_list_btn {
    width: 80px;
    margin-left: 100px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .App {
    width: 60%;
    display: block;
  }
  .my_todo_list button {
    width: 80px;
    margin-left: 100px;
  }
  .imp_list_btn {
    width: 80px;
    margin-left: 100px;
    margin-top: 20px;
  }
}
